.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 7px 20px #efefef, -7px -7px 20px #fff;
}
.avartar {
  max-width: 280px;
  position: relative;
}
.badge {
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  padding: 2px 5px;
  border-radius: 4px;
  background: rgb(139, 107, 179);
  color: #fff;
}
.profile + .profile {
  margin-top: 20px;
}
.profile_img {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 50%;
}
